<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JaalCheezPrj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
		<servlet-name>JaalCheez Configurator Servlet</servlet-name>
		<servlet-class>com.jaalcheez.school.servlet.ConfiguratorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  	<servlet>
		<servlet-name>JaalCheezWS Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JaalCheez Configurator Servlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JaalCheezWS Web Application</servlet-name>
		<url-pattern>/jaalcheezws/*</url-pattern>
	</servlet-mapping>
</web-app>